<!--==========================
    Header
  ============================-->
<header id="header">
  <div class="container">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li class="button"><a href="/login">LOG IN</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
    Login Card
  ============================-->
<section id="intro">
  <section id="dream-card" class="section-with-bg wow fadeInUp">
    <div class="flex-container">
      <div class="col-lg-4 mt-5">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">LOG IN</h5>
            <h6 class="card-head text-center">MY DREAMS</h6>
            <hr>
            “Dream as if you'll live forever, live as if you'll die today.”
            – James Dean
            <hr>
            <div class="text-center">
              <a href="/auth/google" class="btn"><i class="fa fa-google" aria-hidden="true"></i>
                &nbsp;LOGIN </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
  <div class="container">
    <div class="credits">
      For <span>Dreamers</span> By <span>Dreamers</span>
    </div>
    <div class="copyright">
      &copy; Copyright <strong>MyDreams</strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- #footer -->

<!--==========================
    Back to top
  ============================-->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>