{{!-- 500 Error --}}
<section id="dream-card" class="section-with-bg wow fadeInUp">
    <div class="flex-container">
        <div class="col-lg-4 mt-5">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">SERVER ERROR</h5>
                    <hr>
                    We're sorry, something went wrong.
                    <hr>
                    <div class="text-center">
                        <a href="/dreamlist" class="btn">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>